@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #171717;
    background: #ffffff;
    @apply font-sans;
}

/* .keen-slider__slide {
    width: 100px !important;
    height: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
} */
